ul {
  padding: 0;
}
.navbar__logo {
  width: 100%;
}
.accordion__title {
  margin-bottom: 10px;

  text-align: center;
}
.container--registration {
  padding-bottom: 20px;

  border: 1px solid;
  border-radius: 30px;
}
