ul {
  padding: 0;
}
.navbar__logo {
  width: 100%;
}
.accordion__title {
  text-align: center;
  margin-bottom: 10px;
}
.container--registration {
  border: 1px solid;
  border-radius: 30px;
  padding-bottom: 10px;
}
